@import url(https://fonts.googleapis.com/css2?family=Lato);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Lato';
}

a {
    text-decoration: none;
    color: #43689b;
}


/* Header */
header {
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px;
}

.header {
    color: #3D4149;
}


h4 {
    font-size: 4rem;
}

.desc {
    margin-top: 10px;
}


/** Container */
.container {
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    margin-top: 20px;
    display: grid;
    grid-gap: 2em;
}

.wrapper>div {
    padding: 10px;
    color: #7a7a7a;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/2;

}

img {
    height: 100%;
    width: 100%;
}

.form {
    margin-top: 20px;
}

/* Styling the Form*/
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    border: 1px dotted lightcoral;
}


.form-control {
    text-align: left;
    margin-bottom: 25px;
}


.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
        select, textarea */
.form-control input,
.form-control select {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 100%;
}


.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.radio {
    display: flex;
    gap: 2em;
}

/* Styling Button */
button {
    background-color: lightcoral;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* This is our style for the invalid fields */
input:invalid {
    border: 1px solid red;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

/*
* Media Query
*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }


    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em;
    }
}


@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
    }

    .image {
        grid-row: 2/4;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}